.remove-scrolling {
    height: 100%;
    overflow: hidden;
}

.start {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 95vw;
    height: 95vh;
    border: 1px solid black;
}

.navbar {
    background-color: #481449;
    color: white;
    width: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.navbar-header {
    height: 90%;
}

.logo {
    font-size: 50px;
}

.logo button {
    color: white;
}

.icon {
    font-size: 40px;
}

.icon button {
    color: white;
    padding: 10px;
    border-radius: 5px 5px;
}

.icon button:hover {
    background-color: #714774;
    border-radius: 5px 5px;
}

.navbar-footer img {
    width: 75%;
}

.current-nav {
    background-color: #714774;
}

.user-icon {
    width: 30px;
    text-align: center;
    border-radius: 10px;
}

.thread,
.rooms {
    background-color: #5B2B5C;
    color: white;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.thread-header,
.room-header {
    height: 10%;
    border-bottom: 1px solid black;
    text-align: right;
    padding-right: 5%;
}

.thread-create,
.room-create {
    font-size: 40px;
}

.thread-create button,
.room-create button {
    color: white;
}

.thread-list,
.room-list {
    height: 90%;
    overflow: auto;
    padding-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    line-height: 15px;
    font-size: 15px;
}

.thread-title,
.room-title {
    margin: 0;
    padding: 10px;
}

.thread-title:hover,
.room-title:hover {
    background-color: #714774;
    cursor: pointer;
}

.current-thread,
.current-room {
    color: #4C1D4E;
    background-color: #F9EDFF;
}

.current-thread:hover,
.current-room:hover {
    background-color: #F9EDFF;
}

.chat,
.video {
    background-color: #FFFFFF;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.chat-header,
.video-header {
    height: 10%;
    border-bottom: 1px solid black;
    padding-left: 5%;
}

.chat-list {
    height: 60%;
    overflow: auto;
    padding-left: 5%;
    line-height: 15px;
    font-size: 15px;
}

#video-content {
    height: 90%;
    min-height: 0;

    display: grid;
    gap: 5px;

    grid-auto-rows: 1fr;

    overflow: hidden;
}

.chat-detail {
    display: flex;
    align-items: center;
    margin: 0;
}

.user-action-none {
    display: none;
}

.msg-header {
    display: flex;
    justify-content: space-between;
}

.chat-msg .ql-editor {
    margin-left: 22px;
}

.chat-msg:hover {
    background-color: #F8F8F8;
}

.like-btn {
    font-size: 20px;
    cursor: pointer;
}

.liked {
    color: #e0245e;
}

.username {
    font-weight: bold;
    margin-left: 5px;
}

.date {
    font-size: 75%;
    color: gray;
    margin-left: 5px;
}


.chat-editor {
    height: 30%;
    display: flex;
    flex-direction: column;
}

.ql-container {
    height: 60%;
}

.send {
    font-size: 40px;
    display: flex;
    justify-content: right;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px 5px;
    cursor: pointer;
}

.video-grid {
    position: relative;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: end;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.absolute {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

.label,
.video-controls {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.video-controls button {
    color: white;
}

audio {
    display: none;
}